@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@font-face {
    font-family: "fontello";
    src: url("../font/fontello.eot?38147305"),
        url("../font/fontello.eot?62893012"),
        url("../font/fontello.eot?89000965"),
        url("../font/fontello.eot?35909762");
    src: url("../font/fontello.eot?38147305#iefix") format("embedded-opentype"),
        url("../font/fontello.eot?62893012#iefix") format("embedded-opentype"),
        url("../font/fontello.woff2?38147305") format("woff2"),
        url("../font/fontello.woff2?62893012") format("woff2"),
        url("../font/fontello.woff?38147305") format("woff"),
        url("../font/fontello.woff?62893012") format("woff"),
        url("../font/fontello.ttf?38147305") format("truetype"),
        url("../font/fontello.ttf?62893012") format("truetype"),
        url("../font/fontello.eot?89000965#iefix") format("embedded-opentype"),
        url("../font/fontello.woff2?89000965") format("woff2"),
        url("../font/fontello.woff?89000965") format("woff"),
        url("../font/fontello.ttf?89000965") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.breadcrumb-container ul li::before {
    font-family: fontello;
    content: "\f105";
    position: absolute;
    right: -13px;
    font-size: 10px;
}

.breadcrumb-container ul li:last-child::before {
    content: "";
}

.breadcrumb-container ul li:last-child {
    overflow: hidden;
    float: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.icon-thunder::before {
    content: "\26a1";
}

.icon-location::before {
    content: "\e07a";
}

.linear-gradient {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
}

.grid-custom {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    row-gap: 50px;
    column-gap: 20px;
}

.discount-banner {
    @apply bg-red-400 left-0 text-white;
    position: absolute;
    top: 8px;
    padding: 3px 18px 3px 5px;
    margin-left: -3px;
    box-shadow: 1px 1px 5px 0 rgba(37, 37, 37, 0.1);
    border-radius: 30px 120px 120px 0;
}

.discount-banner::after {
    content: " ";
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
    border-style: solid;
    position: absolute;
    left: 0;
    border-color: #b30200 #b30200 transparent transparent;
    border-width: 0 3px 3px 0;
    bottom: -3px;
}
